<div style="padding:20px 20px 20px 20px;text-align:center;">

	<p>
		<button data-theme="a" data-mini="true" onClick="javascript:rotatePageOptionsIcon();history.back();return(false);">Zurück</button>
	</p>
	
	<img src="images/appicon.png" style="max-width:40%;width:500px;">
	
	<h5>APPinaut</h5>
	<strong>Diese Nutzungsbedingungen<br>schützen Sie und uns</strong>
	
	<p style="font-size:0.8em;line-height:1.2em;text-align:justify;">
		
1.	Vetragsgestaltung
a)	Die nachstehenden Allgemeinen Geschäftsbedingungen (nachfolgend „AGB“) gelten für sämtliche - auch zukünftige - Verträge des Vertragspartners (Anbieter) mit der DigitalVerve, Wörenstieg 8, 22415 Hamburg, Inhaber Marcel Durchholz (nachfolgend „APPinaut“ genannt). Diese AGB regeln die Zusammenarbeit zwischen APPinaut, und den APPinaut Wissensanbietern (Anbieter).
b)	Der Anbieter erkennt die Geltung dieser AGB durch Auftragserteilung, spätestens jedoch mit Entgegennahme der Leistung des APPinaut Team an. Die Vereinbarung von AGB des Anbieters wird ausgeschlossen. Diesen AGB entgegenstehende individuelle Nebenabreden, Änderungen oder Ergänzungen der AGB bedürfen der schriftlichen Vereinbarung. Der Anbieter kann seine Rechte und Pflichten aus diesem Vertrag nur mit schriftlicher Zustimmung von APPinaut an Dritte übertragen.
c)	Angebote von APPinaut sind unverbindlich. Ein Vertrag kommt erst durch die Auftragsbestätigung des APPinaut Team oder konkludent durch deren Leistungsaufnahme zustande. Die Aufnahme als Anbieter ist ausschließlich und erst nach schriftlicher Bestätigung durch das APPinaut Team gültig.
d)	APPinaut ist es gestattet, die AGB einseitig zu ändern. Die geänderten AGB werden entsprechend der vorstehen-den Bedingungen wirksam vereinbart.

2.	Leistungen durch das APPinaut Team
a)	Das APPinaut Team übernimmt, im Rahmen ihrer nicht-exklusiven Tätigkeit, Aufgaben der Systemwartung, Entwicklung, und Betreuung der zur Verfügung gestellten Vermarktungsplattformen. Darüber hinaus fördert das APPinaut Team die Tätigkeiten des Anbieters, indem es den Anbieter bewirbt und aktiv in seinen Fachbereichen empfiehlt. 
b)	Gewünschte Anforderungen an die Plattform werden in eine Liste für zukünftige Weiterentwicklungen aufgenommen. Eine Umsetzung von Anforderung kann jedoch nicht zugesichert werden. Bei Bedarf können individuell benötigte Funktionalitäten in Rücksprache mit dem APPinaut Team und dem Anbieter kostenpflichtig entwickelt werden. Um den Qualitätsanspruch zu wahren, ist das APPinaut Team stets darauf bedacht, dass alle Anbieter multimediales Material in angemessener Qualität bereitstellen. Das APPinaut Team nimmt ggf. eine sorgfältige Auswahl dessen vor. Dies liegt im Sinne Wissensdurstiger.

3.	Rechte des APPinaut Teams
a)	Dem APPinaut Team wird gestattet, während der Dauer dieses Vertrages, den Anbieter in allen rechtsgeschäftlichen Angelegenheiten, sofern diese in Zusammenhang mit dem gegenständlichen Vertrag stehen, nach außen zu vertreten und diese Vertretungsmacht nach ihrem Ermessen Dritten anzuzeigen.
b)	Auch ist es dem APPinaut Team erlaubt, im Zusammenhang mit dem Namen des Anbieters, für diesen und sich selbst zu werben. Hierzu darf das APPinaut Team  Fotos, Bilder und Aufzeichnungen jeder Art  bearbeiten und umgestalten.
c)	Das APPinaut Team darf sich zur Ausführung der ihm nach diesem Vertrag obliegenden Aufgaben Dritter bedie-nen (Delegierungsbefugnis).
d)	Der Anbieter räumt DigitalVerve zur Erbringung der Leistungen das zeitlich, räumlich und inhaltlich unwiderrufliche und unbeschränkte Recht ein, die im Rahmen des Vertrages erstellten Unterlagen, Beiträge und Darbietungen im In- und Ausland in körperlicher und unkörperlicher Form digital und analog zu nutzen. Das APPinaut Team ist berechtigt, die Rechte und Befugnisse ganz oder teilweise auf Dritte zu übertragen oder diesen Nutzungsrechte einzuräumen. Der Anbieter verzichtet diesbezüglich auf die Geltendmachung von etwaigen Untersagungsansprüchen im Wege der einstweiligen Verfügung. Die in diesem Vertrag festgelegte Vergütung umfasst auch das Entgelt für die vorstehend aufgeführten übertragenen Rechte. DigitalVerve ist berechtigt, Abbildungen und Beschreibungen des Anbieters zu nutzen und insbesondere werblich zu verwerten.
e)	Das APPinaut Team hat weder versprochen noch ist es dazu verpflichtet, Abnehmer für die Leistung oder das bereitgestellte Material des Anbieters zu verschaffen oder nachzuweisen. Insbesondere zum Schutz vor unvorherge-sehenen Ereignissen behält sich das APPinaut Team das Eigentums-/Nutzungs- und Verwertungsrecht des vom APPinaut Team angefertigten Materials bis zwei Jahre nach Beendigung des Vertragsverhältnisses vor. 

4.	Leistungen der Anbieter
a)	Der Anbieter erteilt dem APPinaut Team für die Dauer des Vertrages alle erforderlichen Vollmachten zur Geltend-machung und Einziehung von gegenwärtigen und künftigen Forderungen des Anbieters gegenüber den Abnehmern  im Namen des Anbieters und auf Rechnung des APPinaut Teams. Das APPinaut Team ist berechtigt, den Anbieter bei Unternehmen als Fachexperte zu bewerben und insbesondere in Bezug auf das vom Anbieter bereitgestellte, multimediale Material, Erklärungen abzugeben und entgegenzunehmen.
b)	Der Anbieter erbringt seine Leistungen höchstpersönlich. Können Leistungen durch den Anbieter wegen höherer Gewalt, Krankheit, Unfall oder sonstigen, vom Anbieter nicht zu vertretenden Umständen, nicht erbracht werden, ist das APPinaut Team berechtigt diesen Vertrag umgehend,  außerordentlich, unter Ausschluss jeglicher Schadensersatzpflichten, zu kündigen.
c)	Mit der Annahme dieser Allgemeinen Geschäftsbedin-gungen  erklärt sich der Anbieter damit einverstanden, dass das bereitgestellte Multimediamaterial, zur Erfüllung der Leistungen, von APPinau verwendet werden darf.

5.	Erklärung des Anbieters
a)	Der Anbieter versichert, dass
•	weder er, noch dessen Mitarbeiter jemals Kurse von Scientology besucht haben,
•	er bzw. seine Unternehmen nicht nach der Technologie von L. Ron Hubbard arbeiten,
•	weder er noch seine Mitarbeiter nach der Technologie von L. Ron Hubbard geschult werden bzw. keine Kurse oder Veranstaltungen nach der Technologie von L. Ron Hubbard besuchen,
•	er die Technologie von L. Ron Hubbard zur Führung seines Unternehmens und/oder zur Ausführung seiner Tätigkeiten, ablehnt.
b)	Die vorstehenden Erklärungen gelten genauso für andere manipulative Sekten jeglicher Art.

6.	Sicherung der Leistungen für Anbieter
a)	Um einen internationalen Wissenstransfer unterschiedlichen Währungen zu vereinfachen, wird innerhalb der Plattformen eine digitale Währung auf sogenannten Prepaid Konten verwendet.
b)	Den über eine beliebige Plattform des APPinaut Teams vermittelten Abnehmern wird der durch den Anbieter festgelegte Betrag in Rechnung gestellt. Dies geschieht in Form einer digitalen Währung (Coins).
c)	Der vom Abnehmer gezahlte Betrag wird dem Anbieter, nach  Zahlung der Kunden und nach Abzug vereinbarter Gebühren und Steuern, durch das APPinaut Team auf seinem Prepaid Konto gutgeschrieben.
d)	Es ist nicht Leistung des APPinaut Teams, Endgeräte für die Nutzung der Funktionalitäten der Plattformen bereit zu stellen.
e)	Bei Nutzung des bereitgestellten Materials durch einen Abnehmer wird 50% des vom Anbieter festgelegten Betrags  auf sein Prepaid Konto gutgeschrieben. Ein Mindestumsatz durch den Vertrieb des bereitgestellten Materials an die Nutzer des APPinaut kann nicht gewährleistet werden.

7.	Gewährleistung, Garantie
a)	Die APPinaut garantiert nicht, dass der Leistungsgegenstand frei von Fehlern, Mängeln oder Auslassungen ist. Garantien für eine fehlerfreie Nutzung des Leistungsgegenstandes werden nicht übernommen. 
b)	Durchgeführte Mängelbeseitigungen sind auf Mitteilung von APPinaut vom Anbieter abzunehmen oder werden nach 14 Tagen ohne erneute Mängelmitteilung des Anbieters als abgenommen anerkannt. Eine Leistung des APPinaut Team gilt insbesondere dann als abgenommen, wenn diese länger als zwei Wochen ohne Mängelanzeige genutzt wird oder vom Anbieter hätte genutzt werden können.
c)	Gewährleistungsansprüche verjähren nach einem Jahr, ab dem gesetzlichen Verjährungsbeginn, wenn der Anbieter Unternehmer  ist oder die Leistung gewerblich genutzt wird.
d)	Die APPinaut gewährleistet dem Anbieter nicht, dass der Leistungsgegenstand frei von Rechten Dritter ist, es sei denn sie sichert diese Eigenschaft schriftlich zu.

8.	Haftung 
a)	APPinaut haftet nach den gesetzlichen Vorschriften für Schäden auf Grund von Vorsatz, grobe Fahrlässigkeit und zwingenden gesetzlichen Haftungsgründen. APPinaut haftet bei der Verletzung von Leben, Körper und Gesundheit ebenfalls nach den gesetzlichen Vorschriften. 
b)	APPinaut haftet auch für seine Erfüllungsgehilfen oder gesetzlichen Vertretern nach der Regelung in Satz 8.a.
c)	Eine über die in Ziffer 8.a und 8.b hinausgehende Haf-tung ist ausgeschlossen.
d)	Die APPinaut haftet nicht für Schäden gegenüber Drit-ten, die dadurch entstehen, dass Unterlagen ohne Geneh-migung des APPinaut Team aus dem Auftragsverhältnis diesen durch den Anbieter vorgelegt werden und die Dritten im Vertrauen auf die Unterlagen zu einem Tun oder Unterlassen veranlasst werden. Für etwaige Schäden Dritter ist alleine der Anbieter verantwortlich und der Anbieter stellt die APPinaut gegenüber den Dritten frei.

9.	Zahlungsbedingungen
a)	Zahlungen sind am Tag des Rechnungserhalts des Anbieters fällig. Die Bezahlung der Leistung hat im Voraus, spätestens jedoch bei der Lieferung zu erfolgen. 
b)	Alle Forderungen von APPinaut werden sofort zur Zah-lung fällig, wenn die Zahlungsbedingungen vom Anbieter nicht eingehalten werden oder  nach dem Vertragsschluss eine wesentliche Verschlechter-ung in den Vermögensver-hältnissen des Anbieters bekannt wird. Ausstehende Liefe-rungen und Leistungen werden in diesen Fällen nur gegen Vorauszahlung oder Sicherheitsleistung ausgeführt. Werden Vorauszahlungen von den Anbietern nicht erbracht, ist APPinaut berechtigt, von dem Vertrag ganz oder teilweise zurückzutreten. 
c)	Die Aufrechnung ist nur mit unbestrittenen oder rechts-kräftig festgestellten Gegenforderungen zulässig.
d)	Vereinbarte Preise sind nur bindend, wenn die Leistung durch APPinaut innerhalb von vier Monaten nach Vertragsschluss erfüllt wird; bei späteren Leistungen gelten die im Zeitpunkt der Leistungserbringung gültigen APPinaut-Listenpreise.
e)	Alle Preisangaben sind Netto-Preise zuzüglich der jeweils gesetzlichen Steuern, Gebühren und Abgaben. Sie schließen Zusatzkosten, wie Versicherungen, Versand- oder Reisekosten nicht ein.
 
10.	Liefertermine
Liefertermine und -fristen ergeben sich ausschließlich aus der Auftragsbestätigung des APPinaut Team oder einem von APPinaut gegengezeichneten schriftlichen Vertrag. Sie sind unverbindlich, sofern APPinaut sie nicht schriftlich als bindend bestätigt hat.

11.	Schweigepflicht/Vertragsstrafe
a)	Alle Vertragsparteien verpflichten sich, über alle wäh-rend der Zusammenarbeit bekannt werdenden Geschäfts-beziehungen und sonstigen geschäftlichen bzw. betriebli-chen Tatsachen sowohl des APPinaut Teams als auch deren vermittelten Abnehmer sowie persönliche Daten dieser auch nach Beendigung des Vertrags-verhältnisses Stillschweigen zu bewahren.
b)	Verletzt der Anbieter die vertragliche Schweigepflicht, ist eine Vertragsstrafe in Höhe des entstandenen Schadens, mindestens jedoch in Höhe von 5.000,-€ (in Worten: fünftausend) für jeden Fall der Zuwiderhandlung (ohne Fortsetzungszusammenhang) zur Zahlung an APPinaut fällig. Die Geltendmachung eines weitergehenden Schadens wird durch die vorstehenden Schadenspauschalierungen nicht ausgeschlossen.

12.	Datenschutz
a)	Der Anbieter sichert dem APPinaut Team zu, dass die von ihm dem APPinaut Team übermittelten Daten auf rechtmäßige Weise erhoben und verarbeitet werden. Die Auftragsabwicklung erfolgt bei dem APPinaut Team mit Hilfe automatischer Datenverarbeitung. Der Anbieter erteilt hiermit seine Zustimmung, dass APPinaut seine im Rahmen der vertraglichen Beziehung bekannt gewordenen oder mitgeteilten Daten zur Auftragsabwicklung verwenden darf.
b)	Der Anbieter ist damit einverstanden, dass vertrauliche Informationen und personenbezogenen Daten von APPinaut im Rahmen der Vertragsbeziehung elektronisch verarbeitet und gespeichert werden. Die Übermittlung von Anbieterdaten an von APPinaut zum Zwecke der Vertragsabwicklung und Abrechnung beauftragte Unternehmen ist gestattet. 
c)	Die Erlaubnis zur Verarbeitung von personenbezogenen Daten und vertraulichen Daten des Anbieters durch das APPinaut Teams gilt weltweit.
d)	Der Anbieter erklärt sich mit der Gefahr einverstanden, dass bei der Übertragung von Daten im Internet für alle Teilnehmer nach dem derzeitigen Stand der Technik nicht ausgeschlossen werden kann, dass sich Unbefugte wäh-rend des Übermittlungsvorgangs Zugriff auf die übermittel-ten Daten verschaffen. Sollte der Anbieter eine vertrauliche Kommunikation wünschen, so hat er dies im Rahmen der Auftragserteilung dem APPinaut mitzuteilen.
e)	Die APPinaut nutzt Softwareprogramme zur Filterung und Löschung von nicht erwünschten eMails. Aus diesem Grunde gelten nur solche eMails als rechtsverbindlich zugegangen, wenn der Empfang von APPinaut bestätigt wurde.


13.	Allgemeine Bedingungen
a)	Sollten einzelne Bestimmungen der vorstehenden Bedingungen oder Teile von diesen unwirksam sein, wird die Wirksamkeit der übrigen Bestimmungen dadurch nicht berührt. Eine unwirksame Bestimmung dieser Bedingungen wird durch diejenige wirksame Bestimmung ersetzt, die der unwirksamen Bestimmung in ihrem wirtschaftlichen Ergebnis am nächsten kommt. Für die Bedingungen und deren Durchführung gilt ausschließlich deutsches Recht.
b)	Ist der Anbieter Unternehmer, eine juristische Person des öffentlichen Rechts oder öffentlich rechtliches Sonder-vermögen, wird das zuständige Gericht in Hamburg am Geschäftssitz des APPinaut Tams, als ausschließlicher Gerichtsstand vereinbart. Dasselbe gilt, wenn der Anbieter keinen allgemeinen Gerichtsstand in Deutschland hat. Ist der Anbieter Verbraucher, bzw. keine der vorstehend ge-nannten Personen, so gelten die gesetzlichen Regelungen zum Gerichtsstand. 

14.	Gefahrübergang, Erfüllungsort
Der Erfüllungsort ist der Geschäftssitz des APPinaut Team. Im Falle einer Versendung geht die Gefahr für die Sache mit deren Übergabe durch APPinaut an die Transportpersonen oder mit der Bereitstellung von Downloadmöglichkeiten  auf den Anbietern über. Besondere Anweisungen über die Art der Versendung bedürfen zur Wirksamkeit einer schriftlichen Vereinbarung.
Stand: 10/2013


	</p>
	<br> <br> <br>
</div>
