<h3 class="ui-bar ui-bar-f" style="border-top-width:0px;text-align:center;">Lernsetinformationen</h3>

<% if (card.thumbnailurl!="") { %>
	<!-- <img src="<%= card.thumbnailurl %>" style="width:100%;"> -->
	<div style="width:100%;text-align:center;padding-top:0px;max-height:<%= $(window).height()/2 %>px;overflow:hidden;">
		<img src="./images/avatar2.jpg" style="width:100%;max-width:800px;">
	</div>
	<!--
	<div style="width:100%;height:0px;overflow:visible;">
		<div style="width:100%;height:0px;overflow:visible;text-align:center;">
			<img src="images/shadow.png" style="width:100%;height:20px;">
		</div>
	</div>
	-->
<% } %>

<div style="margin-bottom:50px;padding:15px;padding-top:0px;width;100%;">

	<p><a data-cardid="<%= card.id %>" id="submitbutton" name="submitbutton" data-theme="f" data-role="button" href="#cards/start/view/<%= card.id %>/0">Lernset <%= card.pricetext %> laden</a></p>
	
	<div class="title">
			<h5>
				<div class="readmoretitle resizetext" style="font-size:24px;"><%= card.title %></div>
			</h5>
	</div>
	<div class="clear"></div>

	<!-- <div class="resizetext" style="width:100%;white-space:nowrap;clear:both;font-size:10px;"><%= card.uploaderdata.fullname %></div>
	<div class="resizetext" style="width:100%;white-space:nowrap;clear:both;font-size:10px;"><i><%= card.topic %></i></div>
	-->
	
	<p>
		<div class="readmore resizetext" style="width:100%;font-size:10px;">
			<%= card.description %>
		</div>
	</p>

</div>