<h3 class="ui-bar ui-bar-f" style="border-top-width:0px;text-align:center;"><%= card.title %></h3>

<div style="margin-bottom:50px;padding:15px;width;100%;">

	<h6 class="quickfit"><%= card.title %></h6>
	
	<form id="submitform" action="#cards/start/view/<%= card.cardid %>/<%= card.nextpage %>" method="post" class="no-ui-body no-ui-body-a no-ui-corner-all" style="border:0;">
		
		<input type="hidden" id="id" name="id" value="<%= card.id %>">
		<input type="hidden" id="page" name="page" value="<%= card.page %>">
		
		<div class="clear dynspace_small" data-percentheight="2" style="height:auto;">&nbsp;</div>
		
		<% if (card.failures==0) { %>
			<div style="padding-bottom:0px;font-weight:bold;max-width:75%;" class="quickfit">
				Herzlichen Glückwunsch. <br>
				Das war absolut fehlerfrei.
			</div>
		<% } else { %>
			<div style="color:red;font-weight:bold;max-width:75%;" class="quickfit">Sie haben <%= card.failures %> Fehler gemacht</div>
		<% } %>
			
		<div class="clear dynspace_small" data-percentheight="8" style="height:auto;">&nbsp;</div>
				
		<div class="clear">
			<div style="float:left;width:22%;height:auto;padding-right:2%;" id="heightto">
				<img style="height:100%;" src="http://chart.apis.google.com/chart?chs=500x500&chd=t:<%= card.dbObject.correct %>,<%= card.dbObject.wrong %>&cht=p&chco=629632,CD0000&chf=bg,s,65432100">
			</div>
			<div style="float:left;width:75%;" id="heightfrom">
				<div class="clear dynspace_small" data-percentheight="1" style="height:auto;">&nbsp;</div>
				<div class="quickfit" style="font-size:12px;"><%= (((Math.round(card.dbObject.correct/card.dbObject.completed*100,0))/100)*100).toString().split(".")[0] %> % haben es fehlerfrei geschafft</div>
				<div class="clear dynspace_small" data-percentheight="3" style="height:auto;">&nbsp;</div>
				<div class="quickfit" style="font-size:12px;"><%= (((Math.round(card.dbObject.wrong/card.dbObject.completed*100,0))/100)*100).toString().split(".")[0] %> % hatten fehlerhafte Anworten</div>
				<div class="clear dynspace_small" data-percentheight="2" style="height:auto;">&nbsp;</div>
			</div>
		</div>
		<div class="clear dynspace_small" data-percentheight="7" style="height:auto;">&nbsp;</div>
			
		<!--
		<div class="clear">
			<div style="float:left;width:22%;height:auto;padding-right:2%;" id="heightto">
				<img style="height:100%;" src="http://chart.apis.google.com/chart?chs=500x500&chd=t:<%= card.dbObject.correct %>,<%= card.dbObject.wrong %>&cht=p&chco=629632,CD0000&chf=bg,s,65432100">
			</div>
			<div style="float:left;width:75%;">
				<div class="clear dynspace_small" data-percentheight="1" style="height:auto;">&nbsp;</div>
				<div class="quickfit" style="font-size:12px;"><%= (((Math.round(card.dbObject.correct/card.dbObject.completed*100,0))/100)*100).toString().split(".")[0] %> % haben es fehlerfrei geschafft</div>
				<div class="clear dynspace_small" data-percentheight="3" style="height:auto;">&nbsp;</div>
				<div class="quickfit" style="font-size:12px;"><%= (((Math.round(card.dbObject.wrong/card.dbObject.completed*100,0))/100)*100).toString().split(".")[0] %> % hatten fehlerhafte Anworten</div>
				<div class="clear dynspace_small" data-percentheight="2" style="height:auto;">&nbsp;</div>
			</div>
		</div>
		<div class="clear" style="height:20px;"></div>
		-->
			
		<% if (card.failures>0) { %>
			<div id="showDetailsBtnArea" name="showDetailsBtnArea">
				<input id="showDetailsBtn" name="showDetailsBtn" data-theme="f" type="button" value="Lösungen anzeigen" />
			</div>
		<% } %>
		
		<div id="detailsArea" name="detailsArea" style="display:none;">
			<hr>
			<% _.each(card.resultArray, function(resultElement) { %>
				<p style="font-size:14px;font-weight:bold;" class="resizetext">
					<% if (resultElement.lastquestion!=resultElement.question) { %> 
						<p style="font-size:16px;padding-top:20px;" class="resizetext"><strong><%= resultElement.question %></strong></p>
					<% } %>
					<div style="font-size:14px;" class="resizetext"><%= resultElement.answer %> </div> <br>
					<% if (resultElement.solution==0) { %>
						<div style="color:red;font-size:14px;" class="resizetext">Diese Antwort ist leider falsch.</div> <br>
					<% } else { %>
						<div style="color:red;font-size:14px;" class="resizetext">Diese Antwort wäre wäre richtig gewesen.</div> <br>
					<% } %>
				</p>			
			<% }); %>
			<hr>
			<div class="clear" style="height:20px;"></div>
		</div>

		
		<!--
		<p>
			<div data-role="controlgroup" style="border:0;">
				
			</div>
		</p>
		-->
		
		<% if (card.resultArray.length>0) { %>
			<input id="retrycard" name="retrycard" data-theme="d" type="button" value="Nochmal versuchen" />
		<% } else { %>
			<input id="cardslink" name="cardslink" data-theme="f" type="button" value="Neues Lernset starten" />
		<% } %>
		
	</form>
	
</div>