<ul data-role="listview" data-inset="true" data-theme="d" data-dividertheme="d">
	<li style="padding-bottom:20px;">
		<a href="#myprofile" style="padding-top:0px;padding-bottom:0px;">
			<img style="margin:4px;b/order:1px solid #fff;" src="<%= user.pictureurl %>" />
			<h5 style="padding-top:2px;padding-bottom:4px;">Mein Profil</h5>
			<p>Persönliche Daten, Beschreibung und Fachbereiche</p>						
			<!-- <p class="ui-li-aside"><strong>6:24</strong>PM</p> -->
		</a>
	</li>
</ul>
<ul data-role="listview" data-inset="true" data-theme="d" data-dividertheme="d">
	<li style="padding-bottom:20px;">
		<a href="#videos" style="padding-top:0px;padding-bottom:0px;">
			<img style="margin:14px;b/order:1px solid #fff;" src="images/icon-multimedia-60.png" />
			<h5 style="padding-top:2px;padding-bottom:4px;">Meine Videos</h5>
			<p>Video-, Audiodaten und Bildergalerie</p>
			<!-- <p class="ui-li-aside"><strong>6:24</strong>PM</p> -->
		</a>
	</li>
</ul>
<ul data-role="listview" data-inset="true" data-theme="d" data-dividertheme="d">
	<li style="padding-bottom:20px;">
		<a href="#" style="padding-top:0px;padding-bottom:0px;">
			<img style="margin:14px;b/order:1px solid #fff;" src="images/icon-calendar-002-resized-60.png" />
			<h5 style="padding-top:2px;padding-bottom:4px;">Meine Termine</h5>
			<p>Veranstaltungstermine, -orte und -zeiten</p>						
			<!-- <p class="ui-li-aside"><strong>6:24</strong>PM</p> -->
		</a>
	</li>
</ul>
<ul data-role="listview" data-inset="true" data-theme="d" data-dividertheme="d">
	<li style="padding-bottom:20px;">
		<a href="#" style="padding-top:0px;padding-bottom:0px;">
			<img style="margin:14px;b/order:1px solid #fff;" src="images/icon-preferences-60.png" />
			<h5 style="padding-top:0px;padding-bottom:0px;">Einstellungen</h5>
			<p>Benutzer-, Sicherheits- und Datenschutzeinstellungen</p>						
			<!-- <p class="ui-li-aside"><strong>6:24</strong>PM</p> -->
		</a>
	</li>
</ul>