<!--
<ul data-role="listview">
	<li data-role="list-divider">A</li>
	<li><a href="index.html">Adam Kinkaid</a></li>
	<li><a href="index.html">Alex Wickerham</a></li>
	<li><a href="index.html">Avery Johnson</a></li>
	<li data-role="list-divider">B</li>
	<li><a href="index.html">Bob Cabot</a></li>
</ul>
<br><br>
-->
<h3 class="ui-bar ui-bar-c" style="border-top-width: 0px;">Willkommen zurück, <%= user.fullname %></h3>
<div class="ui-body" style="padding-top:15px;overflow:visible;z-index:999;">
	<ul data-role="listview">
		<li style="padding-bottom:30px;">
			<a href="#myprofile" style="padding-top:0px;padding-bottom:0px;">
				<h5 style="padding-top:2px;padding-bottom:4px;margin-left:80px;">Mein Profil</h5>
				<p style="margin-left:80px;">Persönliche Daten, Beschreibung und Fachbereiche</p>
				<p class="ui-li-icon"><img style="margin:7px;height:60px;" src="<%= user.pictureurl %>" /></p>
			</a>
		</li>
		<li style="padding-bottom:30px;">
			<a href="#videos" style="padding-top:0px;padding-bottom:0px;">
				<h5 style="padding-top:2px;padding-bottom:4px;margin-left:80px;">Meine Mediathek</h5>
				<p style="margin-left:80px;">Video-, Audiodaten und Bildergalerie</p>
				<!-- <p class="ui-li-aside"><strong>6:24</strong>PM</p> -->
				<p class="ui-li-icon"><img style="margin:7px;b/order:1px solid #fff;" src="images/icon-multimedia-60.png" /></p>
			</a>
		</li>
		<li style="padding-bottom:30px;">
			<a href="#planer" style="padding-top:0px;padding-bottom:0px;">
				<h5 style="padding-top:2px;padding-bottom:4px;margin-left:80px;">Meine Termine</h5>
				<p style="margin-left:80px;">Veranstaltungstermine, -orte und -zeiten</p>
				<!-- <p class="ui-li-aside"><strong>6:24</strong>PM</p> -->
				<p class="ui-li-icon"><img style="margin:7px;b/order:1px solid #fff;" src="images/icon-calendar-002-resized-60.png" /></p>
			</a>
		</li>
		<li style="padding-bottom:30px;">
			<a href="#preferences" style="padding-top:0px;padding-bottom:0px;">
				<h5 style="padding-top:2px;padding-bottom:4px;margin-left:80px;">Einstellungen</h5>
				<p style="margin-left:80px;">Benutzer-, Sicherheits- und Datenschutzeinstellungen</p>
				<!-- <p class="ui-li-aside"><strong>6:24</strong>PM</p> -->
				<p class="ui-li-icon"><img style="margin:7px;b/order:1px solid #fff;" src="images/icon-preferences-60.png" /></p>
			</a>
		</li>
	</ul>
</div>
<br>
