

<div data-role="header" style="position:fixed;top:0;width:100%;background-color: #21469E !important;background-image: linear-gradient(#3E90D9, #21469E) !important;z-index:999;">
	<div style="text-align:center;">
		<img style="max-height:46px;max-width:100%;" alt="APPinaut" src="images/logo.png">
	</div>
	<div id="showMenu" style="float:left;clear:none;display:inline-block;position:absolute;top:0px;left:0px;border:0px;padding:4px;margin:0px;">
		<img border="0" alt="Menu" src="images/icon-menu.png">
	</div>
	<div style="float:right;clear:none;display:inline-block;position:absolute;top:0px;right:0px;border:0px;padding:4px;margin:0px;">
		<div onclick="javascript:history.back();">
			<img border="0" alt="back" src="images/icon-back.png">
		</div>
	</div>
</div>

<div data-role="content" class="ui-body-c" style="position:fixed;top:44px;left:0;width:100%;margin:0;padding:0;z-index:888;border:none;height:100%;">
	<div id="DashboardNestedViewDiv" class="DashboardNestedViewDiv" style="display:block;height:100%;z-index:600;"></div>
</div>

