<form id="newmessageform" class="newmessageform" style="b/order:10px solid #303030 !important;border:0px !important;position:fixed;bottom:0px;width:100%;max-height:200px;display:block;background-color:#fff;">
	<input type="hidden" id="receiver" class="receiver" value="<%= data.receiver %>">
	<!-- <textarea name="messagetextarea" id="messagetextarea" style="max-height:100px;padding:0px;margin:0px;font-size:16px;width:100%;border: 0px !important;-moz-border-radius: 0px !important;-khtml-border-radius: 0px !important;-webkit-border-radius: 0px !important;border-radius: 0px !important;"></textarea> -->
	
	<textarea name="messagetextarea" id="messagetextarea" style="max-height:80px;border: 0px !important;"></textarea>
	<!---moz-border-radius: 0px !important;-khtml-border-radius: 0px !important;-webkit-border-radius: 0px !important;border-radius: 0px !important;-->
	<!-- <a class="ui-disabled" data-role="button" data-corners="false" data-theme="b" id="messagesendbutton" class="messagesendbutton">absenden</a> -->
	<div id="messagesendbuttondiv" style="width:100%;">
		<input data-shadow="false" data-corners="false" data-theme="b" type="button" id="messagesendbutton" class="messagesendbutton" value="absenden" style="margin:0px !important;padding:0px !important;" />
	</div>
</form>