<form id="newmessageform" class="newmessageform" style="border:0px !important;position:relative;width:<%= $(window).width() %>px;max-height:80px;display:block;background-color:#eeeeee;opacity:0.7;padding-bottom:10px !important;bottom:0px !important;">
	<input type="hidden" id="receiver" class="receiver" value="<%= data.receiver %>">
	<div style="float:right;width:<%= (($(window).width()-0)/5*2)-30 %>px;text-align:center;min-height:16px;">
		<a href="" id="messagesendbutton" class="messagesendbutton" style="color:#707070;margin-right:10px;font-size:16px;width:100%;height:100%;display:block;font-weight:normal;b/order: 1px solid #000;" class="noresizetext">Senden</a>
	</div>
	<textarea name="messagetextarea" id="messagetextarea" class="messagetextarea" style="max-height:80px !important;border:0px solid #909090;margin:0px;width:<%= (($(window).width()-0)/5*3)+20 %>px;margin-left:10px;" cols="40" rows="8" placeholder="Schreiben Sie etwas..."></textarea>
	<!---moz-border-radius: 0px !important;-khtml-border-radius: 0px !important;-webkit-border-radius: 0px !important;border-radius: 0px !important;-->
	<!--
	<div id="messagesendbuttondiv" style="width:100%;">
		<input data-shadow="false" data-corners="false" data-theme="b" type="button" id="messagesendbutton" class="messagesendbutton" value="absenden" data-mini="true" style="margin:0px !important;padding:0px !important;" />
	</div>
	-->
</form>