<div style="padding:20px 20px 20px 20px;text-align:center;">

	<p>
		<button data-theme="a" data-mini="true" onClick="javascript:rotatePageOptionsIcon();history.back();return(false);">Zurück</button>
	</p>
	
	<img src="images/appicon.png" style="max-width:40%;width:500px;">
	
	<h5>Hilfe</h5>
	<strong>Mobile Training and Infotainment</strong>
	
	<p>
		
		<strong>Sie sind Wissensanbieter<br>und haben Fragen?</strong><br>
		<br>
		Kontaktieren Sie uns!<br>
		E-Mail: <a href="mailto:support@appinaut.com" style="color:black;font-weight:normal;">support@appinaut.com</a> <br>
		Telefon: <a href="tel:0049-40-507465-49">0049-40-507465-49</a> <br>
		<br>

	</p>
	<br> <br> <br>
</div>
