<div data-role="fieldcontain">
<ul data-role="listview" data-split-icon="star" style="overflow:visible;z-index:999;">
	<li>
		<a class="showVideoDetailsLink" href="#videos/details/view/<&= video.id %>">
		<img style="padding:8px 20px;height:70px !important;max-height:70px !important;max-width:70px;width:80%;" src="<&= video.thumbnailurl %>" />
		<h5 ><&= video.title %></h5>
		<p><&= video.description %></p>
		</a>
		<!-- style="background-color:red;margin:0px;padding:px;border-top:0px;b/order-bottom:0px;height:79px;" -->
		<a id="<&= video.id %>" class="<&= video.favclass %>" data-link="<&= video.id %>" href="#" style="right:15px;width:50px;">Zur Mediathek hinzufügen...</a>
	</li>
	<li>
		<a class="showVideoDetailsLink" href="#videos/details/view/<&= video.id %>">
		<img style="padding:8px 20px;height:70px !important;max-height:70px !important;max-width:70px;width:80%;" src="<&= video.thumbnailurl %>" />
		<h5 ><&= video.title %></h5>
		<p><&= video.description %></p>
		</a>
		<!-- style="background-color:red;margin:0px;padding:px;border-top:0px;b/order-bottom:0px;height:79px;" -->
		<a id="<&= video.id %>" class="<&= video.favclass %>" data-link="<&= video.id %>" href="#" style="right:15px;width:50px;">Zur Mediathek hinzufügen...</a>
	</li>
	<li>
		<a class="showVideoDetailsLink" href="#videos/details/view/<&= video.id %>">
		<img style="padding:8px 20px;height:70px !important;max-height:70px !important;max-width:70px;width:80%;" src="<&= video.thumbnailurl %>" />
		<h5 ><&= video.title %></h5>
		<p><&= video.description %></p>
		</a>
		<!-- style="background-color:red;margin:0px;padding:px;border-top:0px;b/order-bottom:0px;height:79px;" -->
		<a id="<&= video.id %>" class="<&= video.favclass %>" data-link="<&= video.id %>" href="#" style="right:15px;width:50px;">Zur Mediathek hinzufügen...</a>
	</li>
	<li>
		<a class="showVideoDetailsLink" href="#videos/details/view/<&= video.id %>">
		<img style="padding:8px 20px;height:70px !important;max-height:70px !important;max-width:70px;width:80%;" src="<&= video.thumbnailurl %>" />
		<h5 ><&= video.title %></h5>
		<p><&= video.description %></p>
		</a>
		<!-- style="background-color:red;margin:0px;padding:px;border-top:0px;b/order-bottom:0px;height:79px;" -->
		<a id="<&= video.id %>" class="<&= video.favclass %>" data-link="<&= video.id %>" href="#" style="right:15px;width:50px;">Zur Mediathek hinzufügen...</a>
	</li>
</ul>
</div>