<div id="CardsNestedViewDiv" class="CardsNestedViewDiv" style="margin-bottom:50px;padding:15px;">

<!--
<ul data-filter="true" data-filter-placeholder="Suchfilter..." data-role="listview" data-split-icon="star" style="overflow:visible;z-index:999;">
	<li>
		<a class="showVideoDetailsLink" href="#videos/details/view/<&= video.id %>">
		<img style="padding:8px 20px;height:70px !important;max-height:70px !important;max-width:70px;width:80%;" src="file:///D:/cordova/Backbone-Require-Boilerplate-master/public/images/icon-multimedia-60.png" />
		<h5 >Schlagfertigkeit</h5>
		<p>Keynote Speaker M. Poehm als Redner zum Thema Schlagfertigkeit vor 600 Menschen.</p>
		</a>
		<a id="<&= video.id %>" class="<&= video.favclass %>" data-link="<&= video.id %>" href="#" style="right:15px;width:50px;">Zur Mediathek hinzufügen...</a>
	</li>
</ul>
-->


<ul data-role="listview" data-theme="a" data-divider-theme="a" data-filter="true" data-filter-placeholder="Suchfilter..." data-filter-theme="a" data-role="listview" style="min-height:100px !important;">
	<li style="min-height:100px !important;">
		<a class="showVideoDetailsLink" href="#videos/details/view/86160e567d5469f9">
		<img style="padding:8px 20px;height:70px !important;max-height:70px !important;max-width:70px;width:80%;" src="images/icon-multimedia-60.png" />
		<h5>Wissenschaft</h5>
		<p>Speed up your Mind - Wie das Gehirn Geistesblitze beschleunigt - Science Slam</p>
		</a>
	</li>
</ul>

<ul data-role="listview" data-theme="a" data-divider-theme="a" data-role="listview" style="min-height:100px !important;">
	<li style="min-height:100px !important;">
		<a class="showVideoDetailsLink" href="#cards/details/view/a0d2492e27080a6c">
		<img style="padding:8px 20px;height:70px !important;max-height:70px !important;max-width:70px;width:80%;" src="images/icon-learningstream-60.png" />
		<h5 >Persönlichkeitsentwicklung</h5>
		<p>Sei Du selbst. Bleibe authentisch! Ein gesundes Selbstwertgefühl ist der Gegenpol zu Minderwertigkeitsgefühlen. Wenn wir ein gutes Selbstwertgefühl besitzen, dann bedeutet dies: wir glauben, liebenswert und wertvoll zu sein - trotz der Schwächen und Fehler, die wir haben.</p>
		</a>
	</li>
</ul>

<ul data-role="listview" data-theme="a" data-divider-theme="a" data-role="listview" style="min-height:100px !important;">
	<li style="min-height:100px !important;">
		<a class="showVideoDetailsLink" href="#planer/details/view/77df4eb42ec07ac5">
		<img style="padding:8px 20px;height:70px !important;max-height:70px !important;max-width:70px;width:80%;" src="images/icon-calendar-002-resized-60.png" />
		<h5 >Kommunikation</h5>
		<p>Kommunikation ist wichtig. Werden Sie erfolgreicher durch bessere Kommunikation. Es ist wichtig vernünftig zu kommunizieren, denn das bringt mehr Umsatz.</p>
		</a>
	</li>
</ul>

<ul data-role="listview" data-theme="a" data-divider-theme="a" data-role="listview" style="min-height:100px !important;">
	<li style="min-height:100px !important;">
		<a class="showVideoDetailsLink" href="#videos/details/view/86160e567d5469f9">
		<img style="padding:8px 20px;height:70px !important;max-height:70px !important;max-width:70px;width:80%;" src="images/icon-multimedia-60.png" />
		<h5>Körpersprache</h5>
		<p>Körpersprache - witzige Macken in Präsentationen: Der Körper spricht "Dialekt", weist also Eigenheiten bei Gestik und Mimik auf, die jeder aus seinem Umfeld übernimmt. Solche Ticks werden im Kameratraining erkannt. Ziel ist es nach Terri Sjodin, die Energie im Körper nicht einzudämmen, sondern sie in die richtigen Bahnen zu lenken.</p>
		</a>
	</li>
</ul>

<ul data-role="listview" data-theme="a" data-divider-theme="a" data-role="listview" style="min-height:100px !important;">
	<li style="min-height:100px !important;">
		<a class="showVideoDetailsLink" href="#videos/details/view/86160e567d5469f9">
		<img style="padding:8px 20px;height:70px !important;max-height:70px !important;max-width:70px;width:80%;" src="images/icon-multimedia-60.png" />
		<h5>Persönlichkeitsentwicklung</h5>
		<p>Steve Jobs berühmteste  Rede in Deutsch - Motivation und Leidenschaft pur: Steve Jobs hielt im Juni 2005 seine wahrscheinlich berühmteste und motivierendste Rede auf der Abschlussfeier der Stanford University im kalifornischen Palo Alto. Hier in der deutschen Überstzung.</p>
		</a>
	</li>
</ul>


</div>
