<div style="padding:20px 20px 20px 20px;text-align:center;">

	<img src="images/appicon.png" style="max-width:30%;width:500px;">
	
	<h5>APPinaut</h5>
	<strong>Mobile Training and Infotainment</strong>
	
	<form style="padding-top:10px;text-align:left;">
		<!-- <label for="username">Ihr Benutzername:</label> -->
		<input type="text" style="text-align:center;" value="bla1@digitalverve.de" id="username" name="username" placeholder="Benutzername (E-Mail-Adresse)"/>
		<!-- <label for="password">Ihr Passwort:</label> -->
		<input type="password" style="text-align:center;" value="" id="password" name="password" placeholder="Passwort"/>
		<div id="giftcodeDiv">
			<input type="text" style="text-align:center;font-family:Trebuchet MS;text-transform: uppercase;letter-spacing:1px;" value="" id="giftcodeInput" name="giftcodeInput" placeholder="Gutscheincode eingeben"/>
		</div>
				
		<p style="padding:2px 0px;">
		<a id="sendLoginBtn" class="sendLoginBtn btn btn-primary" data-theme="b" data-role="button">Los geht's</a>
		<a id="sendRegisterBtn" class="sendRegisterBtn btn btn-primary" data-theme="a" data-mini="true" data-role="button">Neuen Zugang anlegen</a>
		</p>
		
		<!-- <a href="/register.html" class="btn btn-link">sign up</a>
		<input id="sendLoginBtn" class="sendLoginBtn btn btn-primary" value="Los geht's" type="button">
		-->
	</form>
	
	<p>
		<a href="#help">Hilfe</a>
		 <!-- | <a href="#agb">nutzungsbedingungen</a> -->
		 &nbsp;&nbsp;|&nbsp;&nbsp;<a href="#support">Support</a>
		 &nbsp;&nbsp;|&nbsp;&nbsp;<a href="#" id="giftcode">Gutscheincode</a>
		<!-- | <a href="#legal">Impressum</a>-->
	</p>

	<p style="padding-top:10px;font-weight:normal;font-size:9px;line-height:10px;text-align:justify;opacity:1;color:#888;text-decoration:none;text-align:center;">
		Indem Sie auf "Neuen Zugang anlegen" klicken, akzeptieren Sie die <a onClick="location.href='#agb';" style="font-weight:normal;font-size:9px;line-height:10px;text-align:justify;opacity:1;color:#888;text-decoration:none;">Allgemeinen Geschäftsbedingungen von APPinaut</a>. <a onClick="location.href='#agb';" style="font-weight:normal;font-size:9px;line-height:10px;text-align:justify;opacity:1;color:#888;text-decoration:none;">Kontaktieren</a> Sie uns gerne.<!-- und bestätigen, dass Sie die Datenschutzrichtlinien und die Bestimmungen zur Cookie-Verwendung gelesen haben. Eventuell erhalten Sie eine E-Mail vom APPinaut Team, die Sie jederzeit abbestellen können.-->
	</p>
	
</div>
