<div style="padding:0px 20px;text-align:center;">

	<p><img src="images/appicon.png" style="width:100%;max-width:150px;"></p>
	
	<h5>APPinaut</h5>
	<strong>Mobile Training and Infotainment</strong>
	
	<form style="padding-top:10px;text-align:left;">
		<!-- <label for="username">Ihr Benutzername:</label> -->
		<input type="text" value="jknoblauch@digitalverve.de" id="username" placeholder="Ihr Benutzername"/>
		<!-- <label for="password">Ihr Passwort:</label> -->
		<input type="password" value="blafoo" id="password" placeholder="Ihr Passwort"/>
		<input id="sendLoginBtn" class="sendLoginBtn btn btn-primary" value="Los geht's" type="button">
		<!-- <a href="/register.html" class="btn btn-link">sign up</a> -->
	</form>
	
</div>

<div style="position:absolute;bottom:40px;width:100%;text-align:center;">
	<p><a href="">Neuen Zugang anlegen</a></p>
	<p><a href="">Hilfe</a></p>
</div>

<!--
<div id="videosList" class="videosList"></div> 
<input id="createEntry" class="createEntry" value="createEntry" type="button">
-->