<div style="padding:20px 20px 20px 20px;text-align:center;">

	<img src="images/appicon.png" style="max-height:90%;max-width:70%;" class="elementResizeByScreenHeight" data-percentheight="25">
	
	<!-- <h5>APPinaut</h5> -->
	<br>
	<strong class="no-resizetext">Mobile Training and Infotainment</strong>
	
	<form style="padding-top:10px;text-align:left;">
		<!-- <label for="username">Ihr Benutzername:</label> -->
		<input type="text" style="text-align:center;" value="" id="username" name="username" placeholder="Benutzername (E-Mail-Adresse)"/>
		<!-- <label for="password">Ihr Passwort:</label> -->
		<input type="password" style="text-align:center;" value="" id="password" name="password" placeholder="Passwort"/>
		<div id="giftcodeDiv">
			<input type="text" style="text-align:center;font-family:Trebuchet MS;text-transform: uppercase;letter-spacing:1px;" value="" id="giftcodeInput" name="giftcodeInput" placeholder="Anbietercode eingeben"/>
		</div>
				
		<p style="padding:2px 0px;">
		<a id="sendLoginBtn" class="sendLoginBtn btn btn-primary" data-theme="b" data-mini="true" data-role="button"><span>Los geht's</span></a>
		<a id="sendRegisterBtn" class="sendRegisterBtn btn btn-primary" data-theme="a" data-mini="true" data-role="button"><span>Neuen Zugang anlegen</span></a>
		</p>
		
		<!-- <a href="/register.html" class="btn btn-link">sign up</a>
		<input id="sendLoginBtn" class="sendLoginBtn btn btn-primary" value="Los geht's" type="button">
		-->
	</form>
	
	<p>
		<a href="#help" class="no-resizetext">Hilfe</a>
		 <!-- | <a href="#agb">nutzungsbedingungen</a> -->
		 &nbsp;&nbsp;|&nbsp;&nbsp;<a href="#support" class="no-resizetext">Support</a>
		 &nbsp;&nbsp;|&nbsp;&nbsp;<a href="#" id="giftcode" class="no-resizetext">Anbietercode</a>
		<!-- | <a href="#legal">Impressum</a>-->
	</p>

	<p style="padding-top:0px;font-weight:normal;font-size:9px;line-height:10px;text-align:justify;opacity:1;color:#888;text-decoration:none;text-align:center;" class="no-resizetext">
		Indem Sie auf "Neuen Zugang anlegen" klicken, akzeptieren Sie die <a onClick="location.href='#agb';" style="font-weight:normal;font-size:9px;line-height:10px;text-align:justify;opacity:1;color:#888;text-decoration:none;" class="no-resizetext">Allgemeinen Geschäftsbedingungen von APPinaut</a>. <a onClick="location.href='#agb';" style="font-weight:normal;font-size:9px;line-height:10px;text-align:justify;opacity:1;color:#888;text-decoration:none;"><!--Kontaktieren</a> Sie uns gerne.--><!-- und bestätigen, dass Sie die Datenschutzrichtlinien und die Bestimmungen zur Cookie-Verwendung gelesen haben. Eventuell erhalten Sie eine E-Mail vom APPinaut Team, die Sie jederzeit abbestellen können.-->
	</p>
	
</div>
