<ul data-filter="true" data-filter-theme="a" data-filter-placeholder="Namen suchen..." data-role="listview" data-mini="false" data-icon="false" data-inset="false" data-shadow="false" data-corners="false" data-theme="a" style="margin:-15px -35px;">

	<% if (contacts.data.length==0 || contacts.data==undefined) { %>
		<li style="padding: 0px -20px; margin: 0px 20px;" style="font-size:16px !important;" class="resizetext">
			<a style="font-weight:normal;">
				Noch keine Kontakte vorhanden
			</a>
		</li>
	<% } %>

	<% _.each(contacts.data, function(contact) { %>
		<li style="padding: 0px -20px; margin: 0px 20px;" style="font-size:16px !important;" class="resizetext">
			<a data-id="<%= contact.id %>" href="#messages/details/view/<%= contact.id %>" style="font-weight:normal;">
				<%= contact.fullname %><!-- <%= contact.id %> / <%= me.id %> -->
			</a>
		</li>
	<% }); %>
</ul>