<div style="width:100%;display:inline-block;float:none;clear:both;">
	<div style="width:30%;float:left;clear:none;display:inline-block;padding-right:3%;">
		<img style="width:100%;max-height:100%;max-width:160px;" src="images/avatar.jpg">
	</div>
	<div style="width:50%;float:left;clear:none;display:inline-block;padding-right:2%;">
		<input style="width:100%;" data-theme="a" no-data-role="none" data-mini="false" type="text" name="fullname" id="fullname" value="<%= user.fullname %>" placeholder="Ihr Vor- und Nachname"/>
		<div class="clear"></div>
		<input style="width:100%;" data-theme="a" no-data-role="none" data-mini="true" type="text" name="username" id="username" value="<%= user.username %>" placeholder="Ihr Benutzername/E-Mail"/>
		<div class="clear"></div>
	</div>
	<div style="width:9%;b/order:3px solid yellow;float:right;clear:none;display:inline-block;">
		<div style="line-height:1.3em;width:100%;height:auto;max-height:165px;b/order:1px solid red;float:left;clear:both;display:inline-block;b/ackground-repeat:no-repeat;b/ackground-image: url(images/star-gold.png);">
			<img style="width:100%;height:auto;max-height:50px;max-width:50px;display:lock;clear:both;" src="images/star-grey.png">
			<img style="width:100%;height:auto;max-height:50px;max-width:50px;display:block;clear:both;" src="images/star-half-gold.png">
			<img style="width:100%;height:auto;max-height:50px;max-width:50px;display:block;clear:both;" src="images/star-gold.png">
		</div>
	</div>
</div>

<div class="clear"></div>
	<p>
		<input style="width:100%;" data-theme="a" no-data-role="none" data-mini="true" type="text" name="slogan" id="slogan" value="<%= user.slogan %>" placeholder="Ihr Motto oder Slogan"/>
	</p>
	<p>
		<textarea cols="20" rows="4" style="width:100%;height:15%;" data-theme="a" no-data-role="none" data-mini="true" type="text" placeholder="Beschreiben Sie sich und Ihre Person." name="perstext" id="perstext"><%= user.perstext %></textarea>
	</p>

<!--
<%= user.id %> <br>
<%= user.pictureurl %> <br>
<%= user.fullname %> <br>

<div class="clear"></div>
-->
<!-- <div id="listRow" class="listRow" data-id="<%= user.id %>"> -->
<!--
<div data-id="<%= user.id %>">
	<div style="float:left;border:1px solid #909090;width:20%;">
		<img style="width:100%;" src="<%= user.pictureurl %>">
	</div>
	<div style="float:right;padding-left:5px;border:1px solid #909090;width:75%;">
		<div style="float:left;clear:both;font-size:10px;width:100%;"><%= user.fullname %></div>
		<div style="float:left;clear:both;font-size:10px;width:100%;"><%= user.slogan %></div>
		<div style="float:left;clear:both;font-size:10px;width:100%;"><%= user.perstext %></div>
	</div>
</div>
-->
<!-- </div> -->

<div class="clear"></div>
<ul style="display:none;" data-role="listview" data-inset="true" data-theme="a" data-dividertheme="a">
	<!-- 
	<li><a href="#connections"><img src="images/icon-flat-connect.png" style="height:14px;" alt="Verbindungen" class="ui-li-icon">Verbindungen <span class="ui-li-count">68</span></a></li>
	-->
	<li><a href="#videos"><!--<img src="images/icon-multimedia-bw-16.png" style="height:14px;" alt="Mediathek" class="ui-li-icon">-->Mediathek<!--<span class="ui-li-count">4</span>--></a></li>
	<li><a href="#cards"><!--<img src="images/icon-calendar-bw-16.png" style="height:14px;" alt="Lernsets" class="ui-li-icon">-->Lernsets<!--<span class="ui-li-count">18</span>--></a></li>
	<li><a href="#planer"><!--<img src="images/icon-calendar-bw-16.png" style="height:14px;" alt="Veranstaltungen" class="ui-li-icon">-->Veranstaltungen<!--<span class="ui-li-count">8</span>--></a></li>
</ul>

<ul data-role="listview" data-inset="true" data-theme="b" data-dividertheme="b">
	<!-- 
	<li><a href="#connections"><img src="images/icon-flat-connect.png" style="height:14px;" alt="Verbindungen" class="ui-li-icon">Verbindungen <span class="ui-li-count">68</span></a></li>
	-->
	<li><a href="#"><!--<img src="images/icon-calendar-bw-16.png" style="height:14px;" alt="Coins kaufen" class="ui-li-icon">-->Coins kaufen (<%= user.coins %> Coins)<!--<span class="ui-li-count">650 Coins</span>--></a></li>
</ul>

<div class="clear"></div>

<fieldset data-role="controlgroup">
	<legend><h5>Interessen</h5></legend>
	<input data-mini="true" type="checkbox" name="checkbox-v-2h" id="checkbox-v-2h"><label for="checkbox-v-2h">Marketing</label>
	<input checked data-mini="true" type="checkbox" name="checkbox-v-2a" id="checkbox-v-2a"><label for="checkbox-v-2a">Motivation</label>
	<input checked data-mini="true" type="checkbox" name="checkbox-v-2d" id="checkbox-v-2d"><label for="checkbox-v-2d">Persönlichkeitsentwicklung</label>
	<input data-mini="true" type="checkbox" name="checkbox-v-2f" id="checkbox-v-2f"><label for="checkbox-v-2f">Rhetorik</label>
	<input checked data-mini="true" type="checkbox" name="checkbox-v-2e" id="checkbox-v-2e"><label for="checkbox-v-2e">Selbstbewußtsein</label>
	<input data-mini="true" type="checkbox" name="checkbox-v-2b" id="checkbox-v-2b"><label for="checkbox-v-2b">Stimme</label>
	<input data-mini="true" type="checkbox" name="checkbox-v-2g" id="checkbox-v-2g"><label for="checkbox-v-2g">Suchmaschinenoptimierung</label>
	<input checked data-mini="true" type="checkbox" name="checkbox-v-2c" id="checkbox-v-2c"><label for="checkbox-v-2c">Verkauf</label>
</fieldset>

<div class="clear"></div>
<hr>
<div class="clear"></div>
<ul data-role="listview" data-inset="true" data-theme="d" data-dividertheme="d">
	<li><a href="#">Meine Daten löschen</a></li>
</ul>
<strong>Achtung! Hiernach werden diese Daten unwiderruflich gelöscht. Auch ein Zugang zum System ist nicht mehr möglich!</strong>