<div id="social-icons" style="width:220px;">
	<ul>
			<li><a target="_BLANK" href="https://www.facebook.com/appinaut"><img src="images/social/icon-facebook.png" alt="" border="0"/></a></li>
			<li><a target="_BLANK" href="https://plus.google.com/106958026423436170248/posts"><img src="images/social/icon-fliker.png" alt="" border="0"/></a></li>
			<li><a target="_BLANK" href="https://twitter.com/APPinaut"><img src="images/social/icon-twitter.png" alt="" border="0"/></a></li>
			<li><a target="_BLANK" href="https://www.xing.com/companies/appinaut-getmobilized"><img src="images/social/icon-tumblr.png" alt="" border="0"/></a></li>
	</ul>
</div>
<div class="clear"></div>
<div id="menu" style="background-color:#222 !important;width:220px;">
	<ul id="menuelement">
		<!-- <div id="sidebarListViewDiv" class="sidebarListViewDiv"></div> -->
		<!--
		<li ><a href="#home" class="contentLink" rel="external"><span><img src="images/icon-home.png" alt="" border="0"/></span>Willkommen</a></li>
		<li ><a href="#aboutus" class="contentLink" rel="external"><span><img src="images/icon-about-us.png" alt="" border="0"/></span>Über uns</a></li>
		<li ><a href="#videos" class="contentLink" rel="external"><span><img src="images/icon-about-us.png" alt="" border="0"/></span>Videos</a></li>
		<li ><a href="#listview" class="contentLink" rel="external"><span><img src="images/icon-about-us.png" alt="" border="0"/></span>Experten</a></li>
		<li ><a href="#dashboard" class="contentLink" rel="external"><span><img src="images/icon-about-us.png" alt="" border="0"/></span>Dashboard</a></li>
		<li ><a href="#myprofile" class="contentLink" rel="external"><span><img src="images/icon-about-us.png" alt="" border="0"/></span>Mein Profil</a></li>
		<li ><a href="#login" class="contentLink" rel="external"><span><img src="images/icon-login.png" alt="" border="0"/></span>Login</a></li>
		<li ><a href="#logout" class="contentLink" rel="external"><span><img src="images/icon-login.png" alt="" border="0"/></span>Logout</a></li>
		-->
		<!--
		<li ><a href="#employeeListItemView" class="contentLink" rel="external"><span><img src="images/icon-about-us.png" alt="" border="0"/></span>employeeListItemView</a></li>
		<li ><a href="#testarea" class="contentLink" rel="external"><span><img src="images/icon-about-us.png" alt="" border="0"/></span>Testarea</a></li>
		<li ><a href="our-team/" class="contentLink" rel="external"><span><img src="images/icon-team.png" alt="" border="0"/></span>Das Team</a></li>
		<li ><a href="functions/" class="contentLink" rel="external"><span><img src="images/icon-functions.png" alt="" border="0"/></span>Funktionen</a></li>
		<li ><a href="wissensanbieter/" class="contentLink" rel="external"><span><img src="images/icon-testimonials.png" alt="" border="0"/></span>Experten</a></li>
		-->
	</ul>
</div>
<!-- 
<div id="sidemenusList" class="sidemenusList"></div>
-->