<div id="social-icons">
	<ul>
			<li><a target="_BLANK" href="https://www.facebook.com/appinaut"><img src="images/social/icon-facebook.png" alt="" border="0"/></a></li>
			<li><a target="_BLANK" href="https://plus.google.com/106958026423436170248/posts"><img src="images/social/icon-fliker.png" alt="" border="0"/></a></li>
			<li><a target="_BLANK" href="https://twitter.com/APPinaut"><img src="images/social/icon-twitter.png" alt="" border="0"/></a></li>
			<li><a target="_BLANK" href="https://www.xing.com/companies/appinaut-getmobilized"><img src="images/social/icon-tumblr.png" alt="" border="0"/></a></li>
	</ul>
</div>
<div class="clear"></div>
<ul class="ui-listview ui-listview-inset ui-shadow" id="menuelement" data-role="listview" data-inset="false" data-theme="b" data-dividertheme="b">
</ul>