<div d="sidebarListViewDiv" class="sidebarListViewDiv" style="position:fixed;top:0;left:0;text-align:left;height:100%;width:100%;z-index:10;">
	<div id="social-icons" style="width:100%;padding-top: 6px;">
		<ul>
				<li><a target="_BLANK" href="https://www.facebook.com/appinaut"><img src="images/social/icon-facebook.png" alt="" border="0"/></a></li>
				<li><a target="_BLANK" href="https://plus.google.com/106958026423436170248/posts"><img src="images/social/icon-fliker.png" alt="" border="0"/></a></li>
				<li><a target="_BLANK" href="https://twitter.com/APPinaut"><img src="images/social/icon-twitter.png" alt="" border="0"/></a></li>
				<li><a target="_BLANK" href="https://www.xing.com/companies/appinaut-getmobilized"><img src="images/social/icon-tumblr.png" alt="" border="0"/></a></li>
		</ul>
	</div>
	<div class="clear"></div>
	<div id="menu" style="display:inline-block;position:relative;">
		<ul id="menuelement" data-role="listview">
			<%= rowContent %>
		</ul>
	</div>
</div>