<div style="padding:20px 20px 20px 20px;text-align:center;">

	<img src="images/appicon.png" style="max-width:40%;width:500px;">
	
	<h5>Support</h5>
	<strong>Mobile Training and Infotainment</strong>
	
	<p>
		
		Service-/Support-Informationen zum APPinaut <br>
		<br>
		APPinaut.com ist ein Projekt von <br>
		DigitalVerve – Digital Solutions <br>
		Wörenstieg 8, D-22415 Hamburg <br>
		<br>
		Entwickler: <br>
		Internet: www.digitalverve.de <br>
		E-Mail: info@digitalverve.de <br>
		<br>
		Support / Fragen zum APPinaut: <br>
		Telefon: 0049-40-320326-78 <br>
		Telefax: 0049-40-507465-50 <br>
		E-Mail: info@appinaut.com <br>
		Internet: www.appinaut.com <br>
		<br>
		Rechtliche Informationen: <br>
		DigitalVerve - Digital Solutions <br>
		Steuernummer: 09/410/67786 <br>
		Finanzamt Hamburg-Nord <br>

	</p>
	<br> <br> <br>
</div>
