<!-- HTML Template -->
<h4>testarea.html</h4>
<input type='button' onclick="test_SplashScreen()" value='SplashScreen'/>
<div class="app">
	<h1>PhoneGap</h1>
	<div id="devicereadydiv" class="blink">
		<p class="event listening">Connecting to Device</p>
		<p class="event received">Device is Ready</p>
	</div>
</div>
<div id='tests'>
	<h4>device_internet: <span id="device_internet"></span></h4>
	<h4>device_conn: <span id="device_conn"></span></h4>
	<h4>Platform: <span id="platform"></span></h4>
	<h4>Version: <span id="version"></span></h4>
	<h4>UUID: <span id="uuid"></span></h4>
	<h4>Name: <span id="name"></span></h4>
	<h4>Model: <span id="model"></span></h4>
	<h4>Width: <span id="width"></span>, Height: <span id="height"></span>, Color Depth: <span id="colorDepth"></span></h4>
	<h4>User-Agent: <span id="user-agent"></span></h4>
</div>