<div style="padding:0px;">			
	<div class="ui-field-contain" style="margin:0px;padding:0px;width:100%;">
		<fieldset style="width:100% !important;" data-inset="false" data-corners="false" data-mini="true">
			<% console.log(user.data) %>
			<% _.each(user.data.allusergroups, function(usergroup) { %>
				<input data-usergroupid="<%= usergroup.id %>" data-cardsetid="<%= user.data.cardsetid %>" data-inset="false" <% if($.inArray( $.trim(usergroup.id), user.data.usergroupsactive )>-1) { %>CHECKED<% } %> data-mini="true" style="w/idth:100% !important;" data-corners="false" type="checkbox" class="usergroupcb" name="checkbox-usergroupcb-<%= usergroup.id %>" id="checkbox-usergroupcb-<%= usergroup.id %>">
					<label style="width:100% !important;" data-corners="false" for="checkbox-usergroupcb-<%= usergroup.id %>"><%= usergroup.name %></label>
			<% }); %>
		</fieldset>
	</div>
</div>