<ul id="videosListView" data-filter="true" data-filter-placeholder="Suchfilter..." data-filter-theme="a" data-role="listview" data-theme="a" data-divider-theme="b" data-autodividers="true">
	<% _.each(videos.data, function(data) { %>
		<li data-videoid="<%= data.id %>" data-dbtype="video" class="<% if(window.system.uid == data.uploader) { %>swipetodeletetd<% } %>" data-topic="<%= data.topic %>">
			<a href="#videos/details/view/<%= data.id %>">
				<h3><%= data.title %></h3>
				<p><%= data.uploaderdata.fullname %></p>
				<p><%= data.description %></p>
			</a>
		</li>
	<% }); %>
</ul>
