<h3 class="ui-bar ui-bar-b" style="border-top-width:0px;text-align:center;">Media hinzufügen (Schritt 2 von 2)</h3>
<div style="padding:15px;overflow:visible;z-index:999;text-align:center;">

	<p><b>Weiter geht's!</b></p>
	<p>Bitte geben Sie die Informationen zu Ihrer Multimediadatei ein. Beachten Sie, dass dies sehr entscheidende Kriterien für einen Kauf sind.

	<div id="uploadstatusbar" style="font-size:18px;">0 %</div>
		
	<form id="submitform" action="#videos/record" method="post">
		<button id="formbackbutton" type="button" name="button" data-theme="a">Zurück</button>
		
		
			<label for="slider-price">Preis (in Coins)</label>
			<input type="range" name="slider-price" id="slider-price" value="<%= video.slider_price %>" min="0" max="500" step="10" data-mini="true" data-theme="a" data-track-theme="a"/>

			<input type="text" name="title" id="title" value="Titel der Multimediadatei" placeholder="Titel"/>
			<input type="text" name="subtitle" id="subtitle" value="Untertitel der Multimediadatei" placeholder="Videountertitel"/>
			<textarea style="height:35%;" name="description" id="description" placeholder="Fügen Sie hier eine Beschreibung Ihrer Multimediadatei ein.">Hier steht eine Beschreibung der Multimediadatei.</textarea>
			
			<div class="containing-element">
				<select name="flip-activate" id="flip-activate" data-role="slider">
					<option value="off">Media noch nicht aktivieren</option>
					<option value="on">Media direkt bereitstellen</option>
				</select>
			</div>

		
		<input type="hidden" id="camera_file" name="camera_file"></span>
	</form>
	
	<button type="button" id="recordMediaUploadButton" name="recordMediaUploadButton" data-theme="b">Video hochladen</button>

	<span id="camera_status" style="width:0px;height:0px;"></span>
	<div id="debugdiv" style="width:0px;height:0px;overflow:hidden;"></div>

</div>