<!-- id: <%= video.id %> <br> -->
<!--
<h1><%= video.title %></h1>
-->
<h3 class="ui-bar ui-bar-b" style="border-top-width:0px;text-align:center;">Videotraining</h3>
<div id="videocontainer" style="b/order:10px solid red;b/ackground-color:#000000;">
	<a id="videocontainerlink" style="width:100%;height:100%;">
		<video id="video_player_1" class="video-js vjs-default-skin" poster="<%= video.thumbnailurl %>" data-setup="{}"></video>
	</a>
	<img src="images/shadow.png" style="width:100%;height:20px;">
</div>

<div style="padding:0px 20px">
	<a data-cardid="<%= video.id %>" id="loadvideobutton" name="loadvideobutton" data-theme="b" data-role="button"><%= video.pricetext %></a>
	<br>
	Sie haben <%= video.me_credits %> Credits
</div>

<div style="padding:20px 20px 60px 20px;">

	<div class="ui-grid-a">
		<div class="ui-block-a"><strong>Wissensanbieter</strong></div>
		<div class="ui-block-b"><%= video.uploader %></div>
		<div class="ui-block-a"><strong>Preis</strong></div>
		<div class="ui-block-b"><%= video.price %> Coins</div>
	</div>

	<p>
	<div class="id">
		<h5><%= video.title %></h5>
	</div>
	</p>
	<p>
	<div class="description">
		<%= video.description %>
	</div>
	</p>

</div>
