<ul data-role="listview" data-split-icon="star" style="margin:0px;">
	<li>
		<a class="showVideoDetailsLink" href="#videos/details/view/<%= video.id %>">
		<img style="max-height:100px !important;max-width:100px !important;padding-top:5px;" src="<%= video.thumbnailurl %>" />
		<h5 style="padding-top:3px;padding-left:10px;"><%= video.title %></h5>
		<p style="padding-left:10px;"><%= video.description %></p>
		<!-- <p class="ui-li-icon"><img style="margin:7px;height:60px;" src="<%= video.thumbnailurl %>" /></p> -->
		</a>
		<!-- style="background-color:red;margin:0px;padding:px;border-top:0px;b/order-bottom:0px;height:79px;" -->
		<a id="<%= video.id %>" class="<%= video.favclass %>" data-link="<%= video.id %>" href="#">Zur Mediathek hinzufügen...</a>
	</li>
</ul>