<!--
<h4>Splash Screen</h4>
<input type='button' onclick="test_SplashScreen()" value='SplashScreen'/>
-->

<h3 class="ui-bar ui-bar-c" style="border-top-width: 0px;">Video Informationen</h3>
<div class="ui-body">
	<p><b>Weiter geht's!</b></p>
	<p>Bitte geben Sie die erforderlichen Informationen zu Ihrem Video ein. Bedenken Sie hierbei, dass dies sehr entscheidende Überzeugungskriterien für die Käufer Ihres Videos sind.

	<form id="submitform" action="#videos/record" method="post">
	
		<input type="text" name="title" id="title" placeholder="Titel" value=""/>
		<input type="text" name="subtitle" id="subtitle" placeholder="Videountertitel"value="" />
		<textarea style="height:25%;" name="textarea" id="textarea-a" placeholder="Fügen Sie hier eine Beschreibung Ihres Videos mit maximal 500 Zeichen ein."></textarea>
		<button id="submitbutton" type="button" name="button" data-theme="c">Weiter</button>				
		
	</form>

</div>