<!-- id: <%= video.id %> <br> -->
<!--
<h1><%= video.title %></h1>
-->
<h3 class="ui-bar ui-bar-b" style="border-top-width:0px;text-align:center;">Videotraining</h3>
<div id="videocontainer" style="b/order:10px solid red;b/ackground-color:#000000;">
	<a id="videocontainerlink" style="width:100%;height:100%;">
		<video id="video_player_1" class="video-js vjs-default-skin" poster="<%= video.thumbnailurl %>" data-setup="{}"></video>
	</a>
	<img src="images/shadow.png" style="width:100%;height:20px;">
</div>

<div style="padding:0px 20px">
	<a data-cardid="<%= video.id %>" id="submitbutton" name="submitbutton" data-theme="b" data-role="button" href="#cards/start/view/<%= video.id %>/1">Video <%= video.pricetext %> laden</a>
</div>

<div style="padding:0px 20px">

	<div class="ui-grid-a">
		<div class="ui-block-a">Wissensanbieter (ID)</div>
		<div class="ui-block-b">Preis</div>
	</div>
	<div class="ui-grid-b">
		<div class="ui-block-a"><%= video.uploader %></div>
		<div class="ui-block-b"><%= video.price %> Coins</div>
	</div>

	<div id="listRow" class="listRow">
		<div class="uploader" style="float:left;width:50%;">
			<b>Wissensanbieter (ID)</b> <br>
			<%= video.uploader %>
		</div>
		<div class="price" style="float:left;width:25%;">
			<b>Preis</b> <br>
			<%= video.price %> Coins
		</div>
		<!--
		<div class="price" style="float:right;width:15%;text-align:right;padding-right:20px;">
			<a href="#" data-role="button" data-inline="true" data-theme="b" data-mini="true">Kaufen</a><br>
		</div>
		-->
	</div>

	<div id="listRow" class="listRow" style="padding-top:50px;">
		<!--<div class="legend">
			<%= video.title %>
		</div>
		<div class="pictureurl">
			<img class="pictureimg" src="<%= video.thumbnailurl %>">
		</div>
		-->
		<p>
		<div class="id">
			<strong><%= video.title %></strong>
		</div>
		</p>
		<p>
		<div class="description">
			<%= video.description %>
		</div>
		</p>
	</div>

</div>
