<h3 class="ui-bar ui-bar-a" style="border-top-width:0px;text-align:center;">Video Aufnahme</h3>
<div style="padding:15px;overflow:visible;z-index:999;text-align:center;">

	<p><b>Los geht's!</b></p>
	<p>Über diese Funktion des APPinaut können Sie ein neues Video aufnehmen, in die Mobile Learning Community des APPinaut hochladen und über Ihren personalisierten APPinaut anbieten.</p>
	
		<a id="dialogbutton">Open dialog</a>
	
		<div id="uploadstatusbar" style="font-size:18px;">0 %</div>

		<div id="videobox">
			<video id='video_player' controls style='width:100%; height:10em;'></video>
		</div>
		
		<a id="captureVideoRecordButton" name="captureVideoRecordButton" data-theme="d" data-role="button">Video aufnehmen</a>

		<a id="submitbutton" name="submitbutton" data-theme="b" data-role="button">Weiter</a>
		
		<form id="submitform" action="#videos/record" method="post">
			<input type="hidden" id="camera_file" name="camera_file" value=""></span>
		</form>
		
		<span id="camera_status" style="width:0px;height:0px;"></span>
		<div id="debugdiv" style="width:0px;height:0px;overflow:hidden;"></div>
			
</div>
