<!-- HTML Template -->
<h4>HOMEPAGE</h4>
<input type='button' onclick="test_SplashScreen()" value='SplashScreen'/>
<div class="app">
	<h1>PhoneGap</h1>
	<div id="devicereadydiv" class="blink">
		<p class="event listening">Connecting to Device</p>
		<p class="event received">Device is Ready</p>
	</div>
</div>
<div id='tests'>
	<h4>device_internet: <span id="device_internet"></span></h4>
	<h4>device_conn: <span id="device_conn"></span></h4>
	<h4>Platform: <span id="platform"></span></h4>
	<h4>Version: <span id="version"></span></h4>
	<h4>UUID: <span id="uuid"></span></h4>
	<h4>Name: <span id="name"></span></h4>
	<h4>Model: <span id="model"></span></h4>
	<h4>Width: <span id="width"></span>, Height: <span id="height"></span>, Color Depth: <span id="colorDepth"></span></h4>
	<h4>User-Agent: <span id="user-agent"></span></h4>

	<h4>canvas: <canvas id="canvas" width="1" height="1"></canvas></h4>
	<h4>camera_status: <span id="camera_status"></span></h4>
	<h4>imgage-options:</h4>
	<div id="image-options"></div>
	<h4>img:</h4>
	<div><img width="100" id="camera_image"></div>
	<h4>video:</h4>
	<div id="videobox"><video id='video_player' controls src='' style='width:100%; height:100px;'></video></div>
	<h4>Camera</h4>
	<input type='button' onclick="captureVideoAction();" value='captureVideoAction()'/>
	<input type='button' onclick="getPicture();" value='camera.getPicture()'/>
	
</div>